extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='firstName') First Name:
      input#firstName.form-control(type='text' placeholder='First name' name='firstName' required=true value=author.firstName )
      label(for='lastName') Last Name:
      input#lastName.form-control(type='text' placeholder='Last name' name='lastName' required=true value=author.lastName)
      label(for='dateOfBirth') Date of birth:
      input#dateOfBirth.form-control(type='date' name='dateOfBirth' value=author.birth )
      label(for='dateOfDeath') Date of birth:
      input#dateOfDeath.form-control(type='date' name='dateOfDeath' value=author.death )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      each error in errors
        li!= error