extends layout

block content
  h1= title

  ul
    each val in bookInstanceList
      li 
        a(href=val.url) #{val.book.title} : #{val.imprint}
        |  - 
        if val.status=='available'
          span.text-success #{val.status}
        else if val.status=='maintenance'
          span.text-danger #{val.status}
        else
          span.text-warning #{val.status} 
        if val.status!='available'
          span  (Due: #{val.dueBackFormatted} )

    else
      li There are no book copies in this library.