extends layout

block content

  h1 ID: #{bookInstance._id}
  
  p #[strong Title:] 
    a(href=bookInstance.book.url) #{bookInstance.book.title}
  p #[strong Imprint:] #{bookInstance.imprint}

  p #[strong Status:] 
    if bookInstance.status=='available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status=='maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status} 
      
  if bookInstance.status!='available'
    p #[strong Due back:] #{bookInstance.dueBackFormatted}