extends layout

block content
  h1 #{title}: #{book.title}
  p= book.author.fullName
  
  if bookInstances.length
  
    p #[strong Delete the following book copies before attempting to delete this book.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Book Copies
    
      dl
      each copy in bookInstances
        dt 
          a(href=copy.url) #{book.title}
        dd #{book.summary}

  else
    p Do you really want to delete this Book?
    
    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required=true, value=book._id )

      button.btn.btn-primary(type='submit') Delete