extends layout

block content
    -data = data || {}
    
    if errors
        ul
            for error in errors
                li=error.msg

    form(action="/posts/store" method="POST" enctype="multipart/form-data")
        label(for="title") Title:
        input(
            type="text"
            id="title"
            name="title"
            value=data.title
        )

        label(for="description") Description:
        input(
            type="text"
            id="description"
            name="description"
            value=data.description
        )

        label(for="content") Content:
        input(
            type="text"
            id="content"
            name="content"
            value=data.content
        )

        label(for="image") Image:
        input(
            type="file"
            id="image"
            name="image"
            value=data.image
        )

        input(type="submit" value="Submit")
